<%-include('partials/header.ejs')%>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-3">
            <a class="btn btn-danger" role="button" href="/">Voltar</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-success" role="button" href="/fechamentos/cadastro">Novo Fechamento</a>
        </div>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Fechamento</th>
                <th>PC</th>
                <th>Comprador</th>
                <th>Vendedor</th>
                <th>Sacas</th>
            </tr>
            </thead>
            <tbody>
                <%for(fechamento of fechamentos){%>
                    <tr>
                        <td><a href="/fechamentos/editar<%=fechamento.id%>"><%=fechamento.nroFechamento%></a></td>
                        <td><a href="/fechamentos/editar<%=fechamento.id%>"><%=fechamento.pc%></a></td>
                        <td><a href="/fechamentos/editar<%=fechamento.id%>"><%=fechamento.comprador%></a></td>
                        <td><a href="/fechamentos/editar<%=fechamento.id%>"><%=fechamento.vendedor%></a></td>
                        <td><a href="/fechamentos/editar<%=fechamento.id%>"><%=fechamento.quantidade%></a></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</div>
<%-include('partials/footer.ejs')%>