<%-include('partials/header.ejs')%>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-3">
            <a class="btn btn-danger" role="button" href="/">Voltar</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-success" role="button" href="/clientes/cadastro">Novo Cliente</a>
        </div>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cidade</th>
                </tr>
            </thead>
            <tbody>
                <% for(cliente of clientes){%>
                <tr>
                    <td><%=cliente.id%></td>
                    <td><%=cliente.nome%></td>
                    <td><%=cliente.cidade%></td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</div>
<%-include('partials/footer.ejs')%>